server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:dtogen;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  mvc:
    dispatch-options-request: true
